.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  background-color: #a8d8ff;
}

.movie-card {
  width: 250px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
}

.movie-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.movie-card p {
  margin: 3px 0;
}
